body{
    height: 450vh;
}

.container{   
    background-image: url("../images/landing.jpg");
    width :100%;
    height: 992px;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.header-line{
    color:white;
    background-color:white;
    width:35%;
    padding-right: 20px;
    position:relative;
    right: 180px;
}

.items-container{
    display:flex;
    list-style:none ;
    gap: 10px;
    color:white;

}


.items-container li:hover{
    color:aqua;
    cursor:pointer;
    

}

nav .nav i{
    position:relative;
    right: 300px;
}


.landing-text{
    background-color: rgba(0, 208, 255,0.5);
    width:25%;
    padding: left 20px;
    color: white;

}

.bg-behind-text{
    background-color: rgba(0, 208, 255,0.5);
    width:25%;
    height: 190px;
}
.bodylanding{
    display:flex;
    position: relative;
    bottom: 600px;
    
}
.circle{
    display:flex;
    gap:10px;
    position:relative;
    top: 500px;
    right:50px;
}

.circle1{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    height: 20px;
    width:20px
}

.circle2{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    height: 20px;
    width:20px;
    background-color: rgb(0, 208, 255);
}

.circle3{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 50%;
    height: 20px;
    width:20px
}

.services .s-text{
    text-align:center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.ss-text{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.services{
    
    align-items: center;
}

.con-1{
    display:flex;
    
}

.box1{
    margin:auto;
    width: 669px;
    display: flex;
    margin-top: 60px;
    
}

.box2{
    margin:auto;
    width: 669px;
    display: flex;
    margin-top: 60px;
}


.con-2{
    display:flex;
    
}

.box3{
    margin:auto;
    width: 669px;
    display: flex;
    margin-top: 60px;
    
}

.box4{
    margin:auto;
    width: 669px;
    display: flex;
    margin-top: 60px;
}

.h21{
    color:rgb(0, 174, 255)
}

.h22{
    color:rgb(0, 174, 255)
}

.h23{
    color:rgb(0, 174, 255)
}

.h24{
    color:rgb(0, 174, 255)
}

.behind-mobile{
    background-image: url(../images/design-features.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size:cover
}

.mobile{
    background-image: url(../images/mobile.png);
    width:338px;
    height: 450px;
    margin-top:-500px;
    margin-left:200px
}

.des-text{
    background-color: rgba(0, 208, 255,0.5);
    width:800px;
    height:350px;
}
