* {
    box-sizing: border-box;
}
:root{
    --primary-color:green
}
body {
  font-family: "Work Sans", sans-serif;
  height: 450vh;
}
/* Start Header */
.header{
    padding:20px;
 }


.container {
    /* background-color: #775a5a; */
    /* height: 600px; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .logo {
    width: 60px;
}
.header .links {
    position:relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom:5px;
    height: 3px;
}


.header .links .icon span:nth-child(2) {
    width:70%
}


.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:last-child {
    width: 100%;
}




.header .links ul {
    list-style: none;
    /* border-width: 10px; */
    margin: 0;
    padding: 0;
    background-color: rgb(238, 240, 240);
    position:absolute;
    right:0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul,
.header .links:hover::before {
    display: block;
}


.header .links::before {
    content: "";
    border:10px solid;
    border-color:transparent transparent rgb(238, 240, 240) transparent;
    position: absolute;
    right:5%;
    top: 20px;
    display:none
}



/* End Header */

/* Start Hero Section */
.landing {
    background-image: url("mountain.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px);
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 800;
    color: var(--primary-color)
}
.landing .intro-text p {
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.5;
}
/* End Hero Section */

.idea-container{
    display: flex
}

.items{
    margin: 50px;
    width:33.33%;
    color: rgba(63, 222, 222, 0.801);
    align-items: center;
    text-align: center;
}

.items h2 {
    color: black;
}

.items p {
    color: #333;
}

hr{
    width:33%
}
.mountain2{
    width:33%;
    color:green;
    display:flex;

}

.mountain2 h2{
    color:black
}

.mountain2 p{
    color:#333
}

.mountain-container{
    margin:50px;
    display: flex;
}

.um-container{
    display: flex;
}

.image{
    position:absolute;
    left: 1500px;
    top:1900px;
}
.sh{
    color:#e2e2e2;
    text-align:center;
    font-size:200px;
    font-weight: 800;
}
.nh{
    text-align: center;
    position:relative;
    top: -230px;
    color:rgb(90, 89, 89);
    font-size: 30px;
}
.box1{
    margin:50px;
    width:33.333%;
    display:flex;
    
}

.bg-m{
    background-color: #351276;
    width:100px;
    height:400px;
    position: absolute;
    bottom:-35px;
    right: -90px;
}

.box2{
    margin:50px;
    width:33.333%;
    position: absolute;
    right:580px;
    display:flex;
    
}

.box1 i{
    color:green;
}

.box2 i{
    color:green;
}

.projects{
    background-color: #f5f5f5;
    width: 1910px;
    height: 900px;
}

.hidden-text2{
    position:absolute;
    top:2200px;
    left:550px;
    font-weight: 800px;
}

.project-1{
    background-color:white;
    position:absolute;
    top:2950px;
    left:250px;
    width: 400px;
    margin:50px;
}

.project-container{
    margin:50px;
    display:flex;
}

.img-project1{
    background-image: url("portfolio1.jpg");
    width:400px;
    height: 350px;
    position:absolute;
    top:450px;
    right:710px;
}

.project-2{
    background-color:white;
    position:absolute;
    top:2950px;
    left:700px;
    width: 400px;
    margin:50px;
}

.img-project2{
    background-image: url("portfolio2.jpg");
    width:400px;
    height: 350px;
    position:absolute;
    top:450px;
    right:260px;
}


.project-3{
    background-color:white;
    position:absolute;
    top:2950px;
    left:1150px;
    width: 400px;
    margin:50px;
}
.img-project3{
    background-image: url("portfolio3.jpg");
    width:400px;
    height: 350px;
    position:absolute;
    top:450px;
    right:-190px;
}


.show{
    width:150px;
    height:40px;
    border: blue solid 2px;
    position:absolute;
    top:-100px

}

h3{
    margin:50px;
    position:absolute;
    width:25%;
    left:900px
}

.hr2{
    color:aquamarine;
    position:absolute;
    top:4000px;
    left:800px

}

.img-about{
    margin: 50px;
    background-image: url(about.jpg);
    width: 300px;
    height: 300px;
    position: absolute;
    top:3900px;
    left:200px
}

.p2{
    margin:50px;
    
    width:25%;
    position:absolute;
    left:900px;
    top:4000px
}

.hidden-text4{
    position: absolute;
    top:4200px;
    left:600px;
    text-align: center;
}

.h12{
    margin:50px;
    color:#351276;
    position:absolute;
    top:4700px;
    left:300px;
    font-size:xx-large
}


.h13{
    color:aquamarine;
    margin:50px;
    position:absolute;
    top:4700px;
    left:300px;
    font-size:xx-large
}



